@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Cinzel:wght@400;500;600;700&family=Meow+Script&family=Poiret+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'myWebFont';
    src: url(fonts/UniversityRomanRegular/University\ Roman\ Regular.ttf);
}

:root {
    --slateBlue: rgb(81, 110, 135);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Raleway;
    font-weight: 400;
}

/*------------------*/
/* ---NAVIGATION--- */
/*------------------*/

nav {
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: .5s;
}

nav li {
    display: inline;
    padding: 5px;
}

nav a {
    padding: 2px;
    text-decoration: none;
    color: white;
    box-shadow: inset 0 0 0 0 white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

nav a:hover {
    box-shadow: inset 250px 0 0 0 white;
    color: black;
}

nav a:active {
    box-shadow: inset 250px 0 0 0 black;
    color: white;
    transition: .1s;
}

nav.sticky {
    background-color: rgb(255, 255, 255);
}

nav.sticky a {
    color: black;
}

nav.sticky a:hover {
    box-shadow: inset 250px 0 0 0 black;
    color: white;
}

/*------------------*/
/* --HERO-SECTION-- */
/*------------------*/

.hero-section {
    height: 100vh;
    background-image: url(imgs/knife_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    color: white;
}

.hero-section div {
    min-height: 70%;
    width: 80%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section div * {
    margin: 10px;
}

.hero-section h1 {
    font-family: "myWebFont";
    font-size: 7rem;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.hero-section h2 {
    font-size: 2rem;
}

.hero-section button {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: inherit;
    color: rgb(255, 255, 255);
    border: none;
    transition: all .5s ease;
}

.hero-section button:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all .1s ease;
}

.hero-section button:active {
    transform: scale(.9);
}

/*------------------*/
/*---ABOUT-SECTION--*/
/*------------------*/

.about {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container h3 {
    padding: 1rem;
    text-align: center;
    align-self: flex-start;
    font-size: 2.5rem;
    border-bottom: 2px solid black;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    margin: 10px;
    font-size: 1.4rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.container img {
    max-height: 500px;
}

/*------------------*/
/*---INFO-SECTION---*/
/*------------------*/

.info {
    display: flex;
    flex-direction: column;
    background-color: var(--slateBlue);
}

.info .container div {
    background-color: rgba(255, 255, 255, 0.45);
}

/*------------------*/
/*------FOOTER------*/
/*------------------*/

footer {
    min-height: 200px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    font-size: 1.5rem;
    padding: 10px;
    text-transform: uppercase;
    background-color: var(--slateBlue);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    transition: all .5s ease;
}

footer button:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all .1s ease;
}

footer button:active {
    transform: scale(.9);
}

footer .contact-info {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

footer .contact-info div{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.contact-info span {
    border-bottom: 1px solid black;
    align-self: flex-start;
}